<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center">
        <h5>Currently in</h5>
        <h3>{{city}}</h3>
        <h4>{{temperature_in_f}} F | {{temperature_in_c}} C</h4>
        <h4>{{desctiprion}}</h4>
        <p><em>Last updated {{utc_update_time}} GMT</em></p>
    </div>
</body>
</html>